@import "bourbon";

body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}


/*for def todo list*/
body
{
	background-color: #ffffcc; //light white
}
.liItem
{
	 box-shadow: 2px 2px 2px 4px #666;
	 height: 150px;
	 padding: 10px;
	 background-color: #FFF;
	 	border-radius: 10px 10px 10px 10px;

}
.liItemDetail
{
	 height: 100%;
	
}
.container
{
	background-color: #c2c2a3; /*gray*/
	padding: 10px;
	overflow-y: scroll;
	height: 550px;
	border-radius: 10px 10px 10px 10px;
}

.addTask
{
	float: right;
	margin-right: 5px;
}